@model MyLab.ConfigServer.Models.ConfigViewModel

@{
    var hasUnresolved = Model.ConfigInfo.Secrets.Any(s => !s.Resolved);
    var alertType = Model.ConfigInfo.Secrets.Length != 0
        ? (hasUnresolved ? "alert-warning" : "alert-primary")
        : "alert-secondary";
}


<div class="alert @(alertType) " role="alert">
    <p class="font-weight-bold">Contained secrets:</p>
    @if (Model.ConfigInfo.Secrets.Length != 0)
    {
        @foreach (var s in Model.ConfigInfo.Secrets)
        {
        <div>
            <i class="fa @(s.Resolved ? "fa-check text-success" : "fa-times text-danger")"
               title="@(s.Resolved ? "Resolved" : "Unresolved")"></i>
            <span class="font-weight-bolder">@s.SecretKey</span>
            <span>(@s.FieldPath)</span>
            @if (!s.Resolved)
            {
                <span class="text-danger"> UNRESOLVED!!! Please inspect secret.json.</span>
            }
        </div>
        }
    }
    else
    {
        <p>No secrets found</p>
    }
</div>
