@using MyLab.ConfigServer.Shared

<h5>SecretsReport</h5>

<div class="alert @(_alertType) " role="alert">
    <p>Contained secrets:</p>
    @if (Secrets != null)
    {
        @if (Secrets.Length != 0)
        {
            @foreach (var s in Secrets)
            {
                <div>
                    <i class="fa @(s.Resolved ? "fa-check text-success" : "fa-times text-danger")"
                       title="@(s.Resolved ? "Resolved" : "Unresolved")"></i>
                    <span class="fw-bold">@s.SecretKey</span>
                    <span>(@s.FieldPath)</span>
                    @if (!s.Resolved)
                    {
                        <span class="text-danger"> UNRESOLVED!!! Please inspect secret.json.</span>
                    }
                </div>
            }
        }
        else
        {
            <p>No secrets found</p>
        }
    }
    else
    {
        <p>Secrets loading...</p>
    }
</div>

@code {

    string _alertType;

    [Parameter]
    public ConfigSecret[] Secrets { get; set; }

    protected override Task OnInitializedAsync()
    {
        var hasUnresolved = Secrets.Any(s => !s.Resolved);
        _alertType = Secrets.Length != 0
            ? (hasUnresolved ? "alert-warning" : "alert-primary")
            : "alert-secondary";

        return Task.CompletedTask;
    }

}
